body {
    background-color: #161616;
    font-family: "Comic Sans MS";
}

table {
    text-align: center;
}

h1 {
    margin: 7%;
    color: #fefefe;
    text-align: center;
}

a {
    text-align: center;
    text-decoration: none;
    color: #ababab;
}

a:hover {
    background-color: #287390;
    color: #fefefe;
}

.form {
    margin: 0 40%;
}

.grid {
    display: grid;
    grid-gap: 20px 20px;
    max-width: 1000px;
    margin: auto;
}

.grid-1 {
    grid-template-columns: [start-left] 1fr [end-left];
}

.grid-1-1-1 {
    grid-template-columns: [start-left] 1fr [end-left start-middle] 1fr [end-middle start-right] 1fr [end-right];
}

.grid-1-1-1-1-1 {
    grid-template-columns: [start-left] 1fr [end-left start-middle-left] 1fr [end-middle-left start-middle] 1fr [end-middle start-middle-right] 1fr [end-middle-right start-right] 1fr [end-right];
}

.col-left {
    grid-column-start: start-left;
    grid-column-end: end-left;
}

.col-right {
    grid-column-start: start-right;
    grid-column-end: end-right;
}

.col-middle-left {
    grid-column-start: start-middle-left;
    grid-column-end: end-middle-left;
}

.col-middle-right {
    grid-column-start: start-middle-right;
    grid-column-end: end-middle-right;
}

.col-middle {
    grid-column-start: start-middle;
    grid-column-end: end-middle;
}

.placeholder-block {
    height: 300px;
    min-width: 15em;
    background-color: rgba(254, 254, 254, 0.2);
    border-radius: 0.8%;
    text-align: center;
    padding: 5% 1% 0 1%;
    color: #fefefe;
}

.button_submit {
    text-align: center;
}

.liste-sans-puce {
    text-align: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.liste-sans-puce li {
    align-items: center;
    padding: 4%;
}

img {
    width: 100%;
}

label {
    text-align: center;
}

.lab {
    color: #fefefe;
}

p {
    text-align: center;
    color: #fefefe;
}

@media screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-gap: 20px 20px;
        max-width: 600px;
        margin: auto;
    }
    .grid-1-1-1 {
        grid-template-columns: [start-left] 1fr [end-left];
    }
    .grid-1-1-1-1-1 {
        grid-template-columns: [start-left] 1fr [end-left start-middle] 1fr [end-middle start-right] 1fr [end-right];
    }
}

/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}